#idea files
.idea
.idea/*
!/.idea/icon.png
*.iml

# gradle build
.gradle
build/
*.class

# Idea build
out/

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# files with credentials
/.env/repsy.env
/Homework/java-web/src/main/resources/env.properties
/Homework/java-core/14-JDBC/Homework-Example/src/main/resources/env.properties
/Homework/java-core/14-JDBC/src/main/resources/env.properties
